# Prerequisites
*.d
/Gunz/.vs
/EOS/Samples/.vs
/Build/*
/EOS/SDK/Tool/*.exe
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.pdb
*.idb
*.tlog
*.tlh
*.tli
*.res
*.ipdb
*.iobj
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables

*.out
*.app
*.map

/Gunz/Gunz/Release_Desperate
