# Prerequisites
*.d
Build/*
Gunz/.vs
cml/Debug
cml/Release
CSCommon/Release_Desperate
EOS/SDK/Tool/*.exe
EOS/Samples/.vs
Gunz/Gunz/Release_Desperate
Gunz/Release_Desperate
Locator/Release
MatchAgent/Release
MatchServer/Release_Desperate
MCountryFilter/Release
MDatabase/Release
Mint2/Release
RealSound/Release
RealSpace2/Release
SafeUDP/Release
StringLiteral/Release
Gunz/stdafx.h

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
*.pdb
*.idb
*.tlog
*.tlh
*.tli
*.res
*.ipdb
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app
*.map
